<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoBaseReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'hello_react' %>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
